@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  background-color: #f7ea00;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover {
  color: #fff;
  background-color: #ff1f8f;
}

a,
a:visited {
  color: #000;
}

.container-wrapper {
  width: 1080px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
  text-align: center;
}

.container {
  background-color: #fff;
  float: left;
  width: 700px;
  height: 700px;
  display: grid;
  box-shadow: 10px 10px;
}

.buttons {
  float: left;
  padding: 20px;
  margin-left: 30px;
  background-color: #fff;
  box-shadow: 10px 10px;
}

p {
  margin-bottom: 10px;
  font-style: italic;
}

.button-padding {
  padding-bottom: 10px;
}

.contact {
  z-index: -999;
  position: relative;
  padding-top: 300px;
  text-align: center;
}

.fa-github-square {
  font-size: 3rem;
}
